
<div class="container-lg">
    <h2>Registrar una nueva Ronda: </h2>
    <form (ngSubmit)="onSubmit()" #RondasForm="ngForm">
    <div class="form-group">
      <label for="fechaInicio">Fecha de inicio:</label>
      <input type="date" class="form-control" id="fechaIni" [(ngModel)]="ronda.fechaIni" name="fechaIni" required>
    </div>
    <div class="form-group">
      <label for="fechaFin">Fecha de fin:</label>
      <input type="date" class="form-control" id="fechaFin" [(ngModel)]="ronda.fechaFin" name="fechaFin" required>
    </div>
    <div class="form-group">
      <label for="fechaRetiro">Fecha de retiro:</label>
      <input type="date" class="form-control" id="fechaRetiro" [(ngModel)]="ronda.fechaRetiro" name="fechaRetiro" required>
    </div>
    <div class="form-group">
      <label for="horaini">Hora de inicio:</label>
      <input type="time" class="form-control" id="horaini" [(ngModel)]="ronda.horaIni" name="horaini" required>
    </div>
    <div class="form-group">
      <label for="horafin">Hora de fin:</label>
      <input type="time" class="form-control" id="horafin" [(ngModel)]="ronda.horaFin"  name="horafin" required>
    </div>
    <button type="submit" [disabled]="!RondasForm.form.valid" class="btn btn-primary">Agregar Ronda</button>
    <div *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage }}</div>
  </form>
</div>